{
  "jsc": {
    "target": "es2022",
    "parser": {
      "syntax": "ecmascript",
      "dynamicImport": true
    },
    "baseUrl": "."
  },
  "module": {
    "type": "es6",
    "strict": false,
    "strictMode": false
  },
  "minify": false,
  "sourceMaps": false,
  "isModule": true
}
